<div class="banner-sektion banner-overlay ">
  <div class="container text-center">
    <div class="col-md-12">
      <div class="banner-heading">
        <h2>Miguel Chavez </h2>
        <p> Entrepreneur – Developer – Multiplier</p>
      </div>
    </div>
  </div>
</div>
<div class="container home-container">
  <section class="about-me section-wrapper">
    <h3 class="subtitle text-center">About</h3>
    <h1 class="title text-center">Let me introduce myself.</h1>
    <div class="about-info">
      <div class="media-left about-thumb align-middle">
        <img alt="" class="" src="../../../assets/images/Me.jpg">
      </div>
      <div class="media-body">
        <p>
          I am a multiplier, I try to bring out the smarts and capability of everyone around me. In my
          leadership style I, find and value the genius of others, extend challenges, force debates over decisions
          and instill ownership and accountability.
        </p>
        <p>In my previous role I was a Software Engineer Manager at The Walt Disney Company. I led a team of 4 and we were
          responsible for all the web applications inside the Labor Attendance and Time Team.
        </p>
      </div>
    </div>
  </section>
  <section class="profile-skills section-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <h3> <span class="text-uppercase section-title"> <span class="glyphicon glyphicon-user"></span> Profile</span>
        </h3>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="info-list list-unstyled">
          <li>
            <label>Full Name:</label>
            <span>Miguel Chavez</span>
          </li>
          <li>
            <label>Birth Date:</label>
            <span>July 09</span>
          </li>
          <li>
            <label>Job:</label>
            <span>Entrepreneur – Developer – Multiplier</span>
          </li>

        </ul>
      </div>
      <div class="col-md-6 col-sm-6">

        <ul class="info-list list-unstyled">
          <li>
            <label>LinkedIn:</label>
            <a target="_blank"
              href="https://www.linkedin.com/in/miguel-chavez-66745666/">https://www.linkedin.com/in/miguel-chavez-66745666/</a>
          </li>
          <li>
            <label>GitHub:</label>
            <a target="_blank" href="https://github.com/chavezucf">https://github.com/chavezucf</a>
          </li>
          <li>
            <label>Email:</label>
            <a href="mailto:Miguel@MiguelChavezWeb.com">Miguel@MiguelChavezWeb.com</a>
          </li>

        </ul>
      </div>
    </div>
  </section>
  <section class="books section-wrapper">

    <h3> <span class="text-uppercase section-title"> <span class="glyphicon glyphicon-book"></span>
        Books</span></h3>
    <p> This is a collection of books I pride my life on. I try to live and lead using the ideas
      from these books. I have included the link, Audible title, author, and the summary found on Audible. Please
      listen and get to know how I think, live, and lead.
    </p>
    <ol class="info-list list-unstyled" *ngFor="let book of books | async">
      <li>
          <span class="number"> {{ book.index }}.</span>
          <p>
            <a class="title" target="_blank" href="{{book.url}}"> {{ book.title}} </a>
            <span class="author">- {{book.author}} -</span>
          {{ book.summary }}</p>
      </li>
    </ol>
  </section>
  <section class="download text-center">
    <a class="btn line-btn-dark btn-icon btn-radius" target="_blank"
      href="../../../assets/documents/MiguelChavezResume.pdf" title="">
      <i class="fa fa-download"></i> Download Resume</a>
  </section>
</div>
