@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

/* Home CSS */
.home-container{
    max-width: 1000px;
}

/* Section Wrapper CSS */
.section-wrapper {
    margin: 2em;
    padding: 2em;
    margin-bottom: 30px;
    background:#F2F2F2;
    border-radius: 25px;

}

/* Banner CSS */
.banner-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../../../assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    padding-top: 100px;
    padding-bottom:100px;
    max-height: 300px;

}
.banner-heading {
    background: rgba(230,230,230,.8);
    padding-top: 1em;
    padding-bottom:1em;
    max-width: 500px;
    margin: auto;
    border-radius: 15px;

}

.banner-heading h2 {
    color:#111;
    font-size: 42px;
    font-weight: 600;
}
.banner-heading p {
    color:#111;
    padding-bottom:20px;
    font-size: 19px;
    font-weight: 400;
}

/* About Me CSS */
.about-me .subtitle {
    margin: 0px;
}

.about-me .title {
    margin: 0px;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.about-info .media-left {
    display: inline;
}

.about-thumb img {
    float: left;
    width: 15rem;
    height: 15rem;
    margin-right: 50px;
    border-radius: 50%;
    border-width: 0.3em;
    border-color: #222;
    border-style: solid;
}


/* Books CSS */
.books ol {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 20px;
    margin-bottom: 0;
}

.books ol li {
    position: relative;
    font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
}

.books li p {
    font: 12px/1.5 Helvetica, sans-serif;
    padding-left: 60px;
}

.books li p .author{
    font: 12px/1.5 Helvetica, sans-serif;
}
.books li p .title{
    font: bold italic 12px/1.5 Helvetica, sans-serif;
    color: #222;
}

.books .number {
    position: absolute;
}

/* profile-skills CSS */
.profile-skills h4 {
    font-weight: 700;
}

.profile-skills .info-list li {
    margin-bottom: .6rem;
    padding: 0 0 1.5rem;
}
.profile-skills .info-list li label {
    font-size: 16px;
    display: block;
}

.profile-skills .info-list a {
    color: #222;
}


/* download CSS */
.download {
    margin-top: 50px!important;
}

.download .line-btn-dark{
    padding: 10px 30px;
    color: #fff;
    border: 1px solid #fff;
}
.download .line-btn-dark:hover {
    color: #fff;
    border-color: transparent;
    background: #222;
}
.download .line-btn-dark {
    color: #000;
    border: 1px solid #000;
    background: 0 0;
}


@media (max-width:479px) {
    .about-info .media-left, .media-body {
        display: inline-block;
        width: 100%
    }
    .about-info .media-left {
        padding-right: 0;
    }
    .about-info {
        text-align: center;
    }
    .about-thumb img {
        display: inherit;
        float: none;
        margin-right: 0px;
        margin-bottom: 20px;
        border-width: 0.3em;
        border-color: #222;
        border-style: solid;
    }
}

@media (max-width:668px) {
    .content.promo-txt, .hero .hero-content {
        padding-top: 70px;
    }
    .profile-skills .info-list li {
        float: none!important;
        width: auto!important;
    }
    .about-info .media-left, .media-body {
        display: inline-block;
        width: 100%;
    }
    .about-info .media-left {
        padding-right: 0;
    }
    .about-info {
        text-align: center;
    }
    .about-thumb img {
        display: inherit;
        float: none;
        margin-right: 00px;
        margin-bottom: 20px;
        border-width: 0.3em;
        border-color: #222;
        border-style: solid;
    }
    .about-info.m-bot-100 {
        margin-bottom: 50px!important;
    }
}