<div class="banner-sektion banner-overlay ">
  <div class="container text-center">
    <div class="col-md-12">
      <div class="banner-heading ">
        <h2>Work Experience </h2>
      </div>
    </div>
  </div>
</div>
<div class="container experience-container">
  <h2> <span class="glyphicon glyphicon-briefcase"></span> Leadership Experience</h2>
  <loading-spinner *ngIf="showSpinner"></loading-spinner>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let experience of leadershipExperiences | async">
      <h4> {{experience.position}}</h4>
      <h5> {{experience.companyName}}</h5>
      <h6> {{experience.location}}</h6>
      <h6> {{experience.startDate}} - {{ experience.endDate}}</h6>
      <ul *ngFor="let responsibility of experience.responsibilities;">
        <li>{{responsibility}}</li>
      </ul>
    </li>
  </ul>
  <h2> <span class="glyphicon glyphicon-compressed"></span> Other Experience</h2>
  <loading-spinner *ngIf="showSpinner"></loading-spinner>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let experience of otherExperiences | async">
      <h4> {{experience.position}}</h4>
      <h5> {{experience.companyName}}</h5>
      <h6> {{experience.location}}</h6>
      <h6> {{experience.startDate}} - {{ experience.endDate}}</h6>
      <ul *ngFor="let responsibility of experience.responsibilities;">
        <li>{{responsibility}}</li>
      </ul>
    </li>
  </ul>
</div>