<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6"> 
        <h2> Contact Me</h2>
        <form action="">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
          </div>
          <div class="form-group">
            <label for="name">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>
      </div>
      <div class="col-sm-6"> 
        <h2> Website information</h2>
        <p>s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        <ul>
          <li>Tools used:</li>
          <ul>
            <li>Angular v5</li>
            <li>Code VS</li>
            <li>Google Chrome</li>
            <li>Google Firebase</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</footer>