
/* Banner CSS */
.banner-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    padding-top: 100px;
    padding-bottom:100px;
    max-height: 300px;

}
.banner-heading {
    background: rgba(230,230,230,.8);
    padding-top: 1em;
    padding-bottom:1em;
    max-width: 500px;
    margin: auto;
    border-radius: 25px;

}

.banner-heading h2 {
    color:#111;
    font-size: 42px;
    font-weight: 600;
}
.banner-heading p {
    color:#111;
    padding-bottom:20px;
    font-size: 19px;
    font-weight: 400;
}

.container{
    max-width: 1000px;
}


.about-info .media-left {
    padding-right: 50px;
}
.about-thumb img {
    float: left;
    width: 10rem;
    height: 10rem;
    margin: 0;
    border-radius: 50%}
.info-list li {
    margin-bottom: .6rem;
    padding: 0 0 1.5rem;
}
.info-list li label {
    font-size: 16px;
    display: block;
}

.m-top-50 {
    margin-top: 50px!important;
}

.m-bot-100 {
    margin-bottom: 100px!important;
}

.font-bold {
    font-weight: 700;
}

.line-btn-dark, .line-btn-light {
    padding: 10px 30px;
    color: #fff;
    border: 1px solid #fff;
}
.line-btn-dark:hover, .line-btn-light:hover {
    color: #fff;
    border-color: transparent;
    background: #82b440;
}
.line-btn-dark {
    color: #000;
    border: 1px solid #000;
    background: 0 0;
}

.mild-progress-style {
    position: relative;
    height: 8px;
    margin-top: 60px;
    border-radius: 0;
    background: #e4e4e4;
    box-shadow: none;
}
.mild-progress-style .progress-bar {
    font-size: 11px;
    line-height: 30px;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    text-align: left;
    letter-spacing: 1px;
    color: #222;
    background-color: #222;
    box-shadow: none;
}
.mild-progress-style .progress-bar .skills-info {
    font-size: 13px;
    position: relative;
    top: -35px;
}
.mild-progress-style .progress-bar span {
    font-size: 9px;
    line-height: normal;
    position: relative;
    bottom: 0;
    float: right;
    padding: 5px;
    color: #fff;
    border-radius: 3px;
    background: #333;
}
.mild-progress-style .progress-bar span:after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    content: '';
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.mild-progress-style.progress {
    overflow: visible;
}

.info-list li {
    float: none!important;
    width: auto!important;
}


@media (max-width:479px) {
    .about-info .media-left, .media-body {
    display: inline-block;
    width: 100%}
.about-info .media-left {
    padding-right: 0;
}
.about-info {
    text-align: center;
}
.about-thumb img {
    display: inherit;
    float: none;
    margin-bottom: 20px;
}
}@media (max-width:568px) {
    .content.promo-txt, .hero .hero-content {
    padding-top: 70px;
    }
    .info-list li {
        float: none!important;
        width: auto!important;
    }
    .about-info .media-left, .media-body {
        display: inline-block;
        width: 100%}
    .about-info .media-left {
        padding-right: 0;
    }
    .about-info {
        text-align: center;
    }
    .about-thumb img {
        display: inherit;
        float: none;
        margin-bottom: 20px;
    }
    .about-info.m-bot-100 {
        margin-bottom: 50px!important;
    }
}